/* Container */
.room-guest-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 280px;
}

/* Trigger button */
.room-guest-trigger {
  height: 100%; 
  border: 2px solid green;
  border-radius: 6px;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: -15px;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  box-sizing: border-box;
}
  
.room-guest-trigger:focus,
.room-guest-trigger:hover { 
  background-color: rgb(227, 234, 233);
}

/* Dropdown */
.room-guest-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: white;
  border: 1px solid #00cc88;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
}

/* Dropdown sections */
.dropdown-section {
  margin-bottom: 15px;
  border: 2px solid green;
  border-radius: 6px;
  background-color:#dcf2ea;
  padding: 10px;
  padding-right: 15px;

}

.dropdown-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-size: 20px;
  
}

.dropdown-section input {
  width: 100%;
  height: 100%;
  border: 2px solid green;
  border-radius: 6px;
  font-size: 18px;
  transition: 0.3s ease;
}

.dropdown-section input:focus {
  outline: none;
  border-color: #ccad00;
}

/* Close button */
.dropdown-close-button {
  background-color: #00cc88;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-close-button:hover {
  background-color: #00996e;
  transform: translateY(-2px);
}
