.ticket {
  display: flex;
  width: 900px;
  height: 350px;
  margin: 20px auto 50px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  animation: slideUp 0.8s ease-out, fadeIn 0.8s ease-in-out;
}

.ticket::after,
.ticket::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  /* border: 3px solid #ffffff; */
  transform: translateX(30px);
}

.ticket::after {
  top: -4%;
  right: 26.63%;
}

.ticket::before {
  bottom: -4%;
  right: 26.63%;
}

.ticket-barcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 10px 15px 15px;
  background-color: whitesmoke;
  width: 50px;
  background-image: url("../../../assets/vertical-barcode.gif");

}

.ticket-barcode img {
  width: 80%;
  /* Chiều rộng của barcode theo chiều ngang */
  height: 100%;
  /* Barcode sẽ nằm gọn trong khung */
  object-fit: contain;
  /* Giữ nguyên tỷ lệ barcode */
}

.ticket-left,
.ticket-right {
  animation: fadeIn 1.2s ease-in-out;
}

.ticket-left {
  font-size: 25px;
  font-weight: 600;
  background: whitesmoke;
  flex: 3;
  padding: 20px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-left-header {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  z-index: 1;
  padding-bottom: 8px;
  transform: translateY(-10px);
}

.ticket-left-header::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 280%;
  left: -80%;
  top: -170%;
  border-radius: 80px;
  background-color: var(--primary-color);
  z-index: -1;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plane-icon-ticket {
  font-size: 60px;
}

.section-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.airport-code {
  font-size: 50px;
  font-weight: 800;
}

.city {
  font-size: 1rem;
  color: #666;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 10px;
  font-size: 1rem;
}

/* .info:last-child {
  grid-template-columns: repeat(3, 1fr);
} */

.info-section {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  line-height: 1.75;
  text-align: center;
}

.info-section:first-child {
    text-align: start;

}

.info-section:last-child {
  /* text-transform: uppercase; */
  text-align: end;
}

.info-section-row {
  font-size: 18px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}

.ticket-divider {
  width: 20px;
  margin-right: -10px;
  margin-top: 5px;
  background-image: radial-gradient(circle, white 40%, rgba(255, 255, 255, 0) 40%);
  background-size: 20px 30px;
  background-repeat: repeat-y;
  z-index: 1;
}

.ticket-right {
  flex: 1;
  padding: 20px;
  /* transform: translateX(-10px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.ticket-right-header {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.ticket-right-content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 1.5;
  color: var(--text-color);
  text-transform: uppercase;
}

/* Trạng thái */
.ticket-status {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.status {
  font-weight: bold;
}

.status-accept {
  color: green;
}

.status-cancel {
  color: red;
}

.status-pending {
  color: rgb(255, 115, 0);
}

/* Nút bấm in hóa đơn */
.print-button,
.cancel-button {
  padding: 10px 20px;
  background-color: var(--prominent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.print-button:hover,
.cancel-button:hover {
  background-color: var(--prominent-color-hover);
}

.print-button:active,
.cancel-button:active {
  transform: scale(0.95);
  background-color: rgba(250, 126, 112, 0.82);
  box-shadow: 0 0 0 5px rgba(255, 144, 131, 0.464);
}

/* Ripple Effect cho nút in hóa đơn */
.print-button:active::after,
.cancel-button:active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 0.6s ease-out;
  z-index: -1;
}

.cancel-button:disabled {
  background-color: #ccc;
  /* Màu nền xám */
  color: #666;
  /* Màu chữ xám nhạt */
  cursor: not-allowed;
  /* Biểu tượng chuột không thể bấm */
  opacity: 0.6;
  /* Làm mờ nút */
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .ticket {
    width: 700px;
    height: auto;
    flex-direction: column;
    margin: 10px auto 30px;
  }

  .ticket-barcode {
    /* width: 100%;
    height: auto;
    background-image: url("../../../assets/horizontal-barcode.gif"); */
    display: none;
  }

  .ticket-left,
  .ticket-right {
    padding: 15px;
    font-size: 90%;
  }

  .ticket-left {
    font-size: 20px;
  }

  .ticket-left-header {
    font-size: 28px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .airport-code {
    font-size: 40px;
  }

  .plane-icon-ticket {
    font-size: 50px;
  }

  .ticket-divider {
    display: none;
    /* Hide the divider for smaller screens */
  }

  .ticket-right {
    flex: 1;
    padding: 15px;
    padding-bottom: 20px;
    gap: 10px;

  }

  .ticket-right-header {
    font-size: 20px;
    padding: 0;
  }

  .ticket-right-content {
    font-size: 90%;
    text-align: center;
  }

  .print-button,
  .cancel-button {
    font-size: 13px;
    padding: 8px 15px;
  }

  .ticket-barcode {
    height: 100px;
    /* Giảm chiều cao barcode */
    padding: 5px 15px;
  }

  .ticket-barcode img {
    width: 90%;
    /* Tăng tỷ lệ chiếm màn hình */
  }

  .ticket {
    flex-direction: column;
    width: 100%;
    margin: 10px 5px;
  }
}

@media (max-width: 768px) {
  .ticket {
    width: 100%;
    margin: 10px 5px;
    border-radius: 20px;
  }

  .ticket-barcode {
    padding: 60px 10px 10px 10px;
  }

  .ticket-left-header {
    font-size: 24px;
  }

  .airport-code {
    font-size: 30px;
  }

  .city {
    font-size: 0.9rem;
  }

  .info {
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .plane-icon-ticket {
    font-size: 40px;
  }

  .ticket-right-header {
    font-size: 18px;
  }

  .ticket-status {
    font-size: 16px;
  }

  .status {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .ticket {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .ticket-left {
    font-size: 80%;
    padding: 10px;
  }

  .ticket-left-header {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .ticket-left-header::after {
    width: 200%;
    height: 300%;
    left: -100%;
    top: -200%;
  }

  .airport-code {
    font-size: 24px;
  }

  .city {
    font-size: 0.8rem;
  }

  .info {
    font-size: 0.8rem;
    gap: 5px;
    flex-direction: column;
  }

  .print-button,
  .cancel-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .ticket-barcode {
    padding: 40px 5px 5px 5px;
  }

  .plane-icon-ticket {
    font-size: 30px;
  }

  .ticket-status {
    font-size: 14px;
  }

  .status {
    font-size: 12px;
  }
}