/* Tổng thể trang Help */
.help-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 50px;
  animation: slideUp 0.8s ease-out, fadeIn 0.8s ease-in-out;
}

.help-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* Section chung */
.section-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

/* FAQ Section */
.help-page .faq-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.help-page .faq-section .section-title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}


.faq-item details {
  cursor: pointer;
}

.faq-item summary {
  font-weight: bold;
  color: whitesmoke;
  transition: color 0.3s;
}

.faq-item summary:hover {
  color: rgb(255, 255, 255);
}

.faq-item p {
  margin-top: 5px;
  padding-left: 10px;
  color: var(--text-color);
  font-weight: 500;
}

/* Contact Section */
.contact-section {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.help-page .contact-section .contact-info {
  padding: 0;
  border-radius: 10px;
  box-shadow: none;
}

.contact-info p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
  margin: 10px 0;
}

.contact-info svg {
  color: var(--primary-color);
  font-size: 1.8rem;
}

/* Form Section */
.form-section {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section input,
.form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-section button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section button:hover {
  background-color: var(--button-color-hover);
}

.form-section button:active {
  background-color: rgba(104, 205, 171, 0.512);
  transform: scale(0.95);
  box-shadow: 0 0 0 5px rgba(141, 211, 186, 0.3);
}

.form-section button:active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 0.6s ease-out;
  z-index: -1;
}