.loading {
    text-align: center;
    color: #8dd3ba;
    font-size: 18px;
    margin-top: 20px;
}

.error {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 20px;
}

.no-data {
    text-align: center;
    color: gray;
    font-size: 18px;
    margin-top: 20px;
}