.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.navbar .navbar-logo {
    font-size: 3rem;
    font-weight: bold;
}

.navbar .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.navbar .navbar-menu a{
    cursor: pointer;
}

.navbar .navbar-sign {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .navbar-sign .SignUp-User,
.navbar .navbar-sign .Login-Logout {
    position: relative;
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.show-tickets {
    display: inline-block;
    padding: 10px 20px; 
    margin-top: 20px;
    font-size: 16px; 
    font-weight: bold;
    color: white; 
    background-color: tomato; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.show-tickets:hover {
    background-color: #0056b3; /* Thay đổi màu nền khi hover */
    transform: scale(1.05); /* Tăng kích thước nút khi hover */
}

.show-tickets:active {
    background-color: #003f7f; /* Màu nền khi nhấn */
    transform: scale(0.95); /* Giảm kích thước nút khi nhấn */
}

.navbar .navbar-sign .SignUp-User .user-menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    
    width: 350px;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
    border: 3px solid tomato;
    border-radius: 20px;
}

.navbar .navbar-sign .SignUp-User .user-menu ul {
    /* padding-left: 20px;  */
    list-style-type: none; 
    margin: 5px 20px;
}

.navbar .navbar-sign .SignUp-User .user-menu li {
    text-align: left;  
    /* margin: 5px 0;   */
}


.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}