.form-content-flights {
    display: grid;
    grid-template-columns: 5fr 2fr 3fr 3fr; /* 4 cột với chiều rộng được phân chia */
    gap: 16px; /* Khoảng cách giữa các cột */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%;
    box-sizing: border-box; /* Bao gồm cả padding và border trong kích thước */
  }
  
  .input-group {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-group input {
    width: 40%;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Đảm bảo tính đúng chiều rộng */
  }
  
  .input-group .swap-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20%;
    height: 100%;
    font-size: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
  }

  .input-group input:hover,
  .input-group input:focus,
  .input-group .swap-button:hover,
  .input-group .swap-button:focus{
    border-radius: 5px;
    background-color: rgb(227, 234, 233);
  }
  
  .Trip-option {
    width: 100%; /* Chiều rộng chiếm toàn bộ cột */
    height: 100%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    box-sizing: border-box; /* Đảm bảo đúng chiều rộng */
    width: 100%; /* Chiều rộng chiếm toàn bộ cột */
  }
  
  .date-container {
    width: 100%; /* Chiều rộng chiếm toàn bộ cột */
    height: 100%;
    box-sizing: border-box;
  }
  
  .date-container input {
    width: 100%; /* Chiều rộng chiếm toàn bộ cột */
    height: 100%;
    padding: 10px;
    border: 1px solid #c3e5d2;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .PassengerClassSelect {
    width: 100%; /* Chiều rộng chiếm toàn bộ cột */
    height: 100%;
    box-sizing: border-box;
  }
  
  .PassengerClassSelect select {
    width: 100%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .result-flights-tab {
    width: 100%;
  }