.stay-form-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột với kích thước bằng nhau */
  grid-template-rows: repeat(1, 50px); /* 3 hàng với chiều cao 150px */
  gap: 20px; /* Khoảng cách giữa các cột */
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
  background-color: white; 
}

.stay-destination {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

.stay-destination input {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s ease;
    padding-left: 15px;
    box-sizing: border-box;
}

.stay-destination input:focus,
.stay-destination input:hover {
    background-color: rgb(227, 234, 233);
}

.stay-check-in,
.stay-check-out {
  display: flex;
  width: 100%;
  height: 100%;
}


.stay-rooms-guests {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


