/* Tổng thể trang liên hệ */
.contact-page {
  font-family: Arial, sans-serif;
  padding: 20px 0;
  color: #333;
  margin-bottom: 50px;
  animation: slideUp 0.8s ease-out, fadeIn 0.8s ease-in-out;
}

.contact-title {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 30px;
}

/* Container chính */
.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Thông tin liên hệ */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 1.2rem;
}

/* Form liên hệ */
.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--button-color-hover);
}

.contact-form button:active {
  background-color: rgba(104, 205, 171, 0.512);
  transform: scale(0.95);
  box-shadow: 0 0 0 5px rgba(141, 211, 186, 0.3);
}

.contact-container button:active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 0.6s ease-out;
  z-index: -1;
}

/* Bản đồ */
.contact-map {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-map h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.contact-map iframe {
  border: none;
  border-radius: 10px;
}