.form-trip {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    gap: 16px;
    width: 100%;
    padding: 16px;
    flex-wrap: nowrap;
    /* background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.form-trip .input-form {
    display: flex;
    flex: 2;
    gap: 12px;
    align-items: center;
    border: none;
}

.form-trip .input-form .input-form-from,
.form-trip .input-form .input-form-to {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

/* Select boxes */
.form-trip .input-form .select-from,
.form-trip .input-form .select-to {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-trip .input-form .select-from:focus,
.form-trip .input-form .select-to:focus {
    border-color: #8DD3BA;
}

.form-trip .input-form .code {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #00a877;
    border-radius: 5px;
    text-align: center;
}

.form-trip .input-form .button-swap {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    color: #555;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.form-trip .input-form .button-swap:hover {
    transform: rotate(180deg);
}

.form-trip .input-form .button-swap:focus {
    outline: none;
    /* background-color: #f9f9f9; */
}

.form-trip .date-container {
    width: 100%;
    padding: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}

.form-trip .choose-passenger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    height: 100%;
    /* border: 1px solid #e0e0e0; */
}

/* Media queries */
@media (min-width: 768px) {
    .form-trip {
        grid-template-columns: 2fr 1fr;
    }

    .form-trip .input-form {
        flex-direction: row;
    }
}