/* Swiper styles */

.trading {
  margin: 50px 0px;
}


.trading-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide {
  width: 27rem;
  height: 32rem;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 27rem !important;
  height: 32rem !important;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content img {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

.popup-content p {
  font-size: 16px;
  line-height: 1.6; 
  text-align: justify; 
  margin-bottom: 30px; 
  color: #333;
}

.popup-content button {
  background-color: #FF5733;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #D43F21;
}