.signup-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: center;

    background: transparent;
    padding: 50px 0px;
    animation: fadeIn 0.5s ease-out;
}

.signup-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Định dạng cho tiêu đề */
.signup-container h1 {
    color: black;
    font-size: 36px;
    text-align: center;
    animation: bounce 0.67s ease-out;
    animation-iteration-count: 2;
    padding-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 10%;
}

/* Định dạng cho các ô nhập liệu (input-box) */
.signup-form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    animation: slideUp 1s ease-in-out;
}

.signup-form .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(144, 143, 143, 0.537);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(53, 51, 51);
    padding: 20px 45px 20px 20px;
    transition: border 0.3s ease;
}

.signup-form .input-box input:focus {
    border: 2px solid rgba(95, 93, 93, 0.618);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.input-box input.invalid {
    border: 1px solid rgb(255, 0, 0);
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
}

/* Định dạng cho placeholder trong input */
.singup-form .input-box input::placeholder {
    color: rgba(92, 89, 89, 0.7);
}

/* Định dạng cho icon trong input */
.signup-form .input-box .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
}

/* Định dạng nút login */
.signup-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-box .signup {
    width: 100%;
    background: rgb(141, 214, 172);
    color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin: 20px 0;
    padding: 15px 0px;
    text-align: center;
    transition: transform 0.1s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-box .signup:hover {
    background: rgba(141, 214, 171, 0.7);
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

.signup-box .login:focus {
    transform: scale(0.95);
    background-color: rgba(231, 234, 233, 0.3);
    box-shadow: 0 0 0 5px rgba(231, 234, 233, 0.3);
    outline: none;
}

/* Định dạng cho phần Google Login */
.goolge-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.goolge-box .login-google {
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

/* Định dạng cho icon Google trong nút Google Login */
.goolge-box .google-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
}

/* Định dạng cho liên kết đăng ký/sign-in */
.login-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link a {
    color: rgb(141, 214, 172);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.login-link a:hover {
    color: rgba(143, 214, 173, 0.7);
    text-decoration: underline;
}

.login-link a:focus {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
    transform: scale(0.95);
    outline: none;
}

.test {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

p.token-value {
    color: tomato;
    width: 500px;
    text-align: center;
    /* Căn giữa nội dung */
    word-wrap: break-word;
    /* Ngắt dòng nếu cần */
    word-break: break-word;
    /* Đảm bảo token xuống dòng đúng */
    overflow-wrap: break-word;
    /* Hỗ trợ ngắt từ tốt hơn */
    white-space: normal;
    /* Ngắt dòng tự động */
    margin-top: 20px;
    /* Tạo khoảng cách với phần tử phía trên */
    font-size: 16px;
    /* Điều chỉnh kích thước chữ */
    line-height: 1.5;
    /* Khoảng cách dòng dễ đọc hơn */
}

p.error-value,
p.success-value {
    color: red;
    width: 320px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    /* padding-top: 20px;  */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .signup-container .signup-image {
        display: none;
    }

    .signup-container {
        grid-template-columns: 1fr;
        padding: 50px;
    }

    .singup-container .login-form {
        padding: 0;
    }

    .signup-box .singup,
    .google-box .login-google {
        font-size: 14px;
        padding: 12px 0;
    }

    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 24px;
    }

    .input-box {
        width: 100%;
    }
}