.news-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.news-popup-container {
    background: #fff;
    padding: 30px; 
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-popup-container .news-popup-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.news-popup-close {
    margin: 20px auto 0; 
    display: block; 
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;    /* text-align: center; */
}


.news-popup-close:hover {
    background-color: #0056b3;
}
